/*
Author:wpdesigner
Author:URI: http://wpdesigner.ir/
Email:info@wp-desinger.ir
*/


/* The main container */
.nav {
	/* Layout & positioning */
	display: block;
	position: right;
	margin: 0;
	padding: 0;
	width: 750px; /* CHANGE this if you want another width or remove it if you want the width of the container */
	height: 43px;
	list-style: none;
	/* Background */
	background: #21a2f3;
	text-align: right;
}

.nav>li {
	display: block;
	float: right;
	margin: 0;
	padding: 0;
	position: relative;
}

/* The main navigation links */
.nav>li>a {
	/* Layout & positioning */
	display: block;
	padding: 15px 20px;
	line-height: 13px;

	/* Typography */
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
	font-size: 13px;
	color: #fff;
	font-weight: bold;
	
	/* Effects */
	-webkit-transition: background .2s;
	-moz-transition: background .2s;
	-o-transition: background .2s;
	-ms-transition: background .2s;
}

/* The hover state of the navigation links */
.nav>li>a:hover, .nav>li:hover>a {
	background: #0c92e6;
}

.nav>.dropdown>a {
	padding-left: 25px;
}

/* The '+' sign which indicates a submenu */

.nav>.dropdown>a::after {
	content: "";
	position: absolute;
	top: 19px;
	width: 1px;
	height: 5px;
	background: #fff;
	left: 13px;
}

.nav>.dropdown>a::before {
	content: "";
	position: absolute;
	top: 21px;
	width: 5px;
	height: 1px;
	background: #fff;
	left: 11px;
}

.nav>.dropdown>a:hover::after, .nav>.dropdown:hover>a::after {
	background: transparent;
}

/* General submenu styling */
.nav ul {
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	padding: 7px 0;
	background: #fff;
	border-bottom: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .08);
	right: 9999px;
}

.nav ul li {
	position: relative;
	background: #fff;
	padding: 0 9px;
	width: 0px;
	height: 0px;
	-webkit-transition: height .3s, width .3s;
	-moz-transition: height .3s, width .3s;
	-o-transition: height .3s, width .3s;
	-ms-transition: height .3s, width .3s;
}

/* Level 1 submenus */
.nav>li:hover>ul {
	right: 0px;
}

/* Level 2+ submenus */
.nav ul ul {
	border-top: 1px solid #d8d8d8;
}

.nav ul>li:hover>ul {
	top: -8px;
	right: 148px;
}

/* Expanding the submenus on hover */
.nav li:hover>ul>li {
	width: 130px;
	height: 25px;
}

/* The links of the submenus */
.nav ul li a {
	/* Layout */
	display: block;
	position: relative;
	padding: 5px 10px;
	border-radius: 3px;
	width: 110px;

	/* Typography */
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #21a2f3;

	/* Effects */
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-ms-transition: all .2s;
}

/* The hover state of the submenu links */
.nav ul li a:hover, .nav ul li:hover>a {
	background: #21a2f3;
	color: #fff;
}

/* The '+' sign indicating a level 2+ submenu */
.nav ul>.dropdown>a::after {
	content: "";
	position: absolute;
	top: 11px;
	width: 1px;
	height: 5px;
	background: #21a2f3;
	left: 8px;
}

.nav ul>.dropdown>a::before {
	content: "";
	position: absolute;
	top: 13px;
	width: 5px;
	height: 1px;
	background: #21a2f3;
	left: 6px;
}

.nav ul>.dropdown:hover>a::after {
	background: transparent;
}
.nav ul>.dropdown:hover>a::before {
	background: #fff;
}